/* Custom styles to override Bootstrap */
body {
    background-color: #f8f9fa;
}

.navbar-brand {
    font-weight: bold;
}

.active {
    background-color: #d3d3d3 !important;
    padding:0rem;
    margin:0rem;
  }

footer {
    position: relative;
    bottom: 0;
    width: 100%;
}