{% extends "base.html" %}

{% block title %}Visualise Data{% endblock %}

{% block content %}
    <div class="text-center">
        <h2>Your Spending Analytics</h2>
        <canvas id="spendingChart" width="400" height="200"></canvas>
    </div>
    <div class="container-fluid justify-content-center mb-4" style="background-color: #76c87d; border-radius: 10px; padding: 1rem;"> <!-- Text section -->
        <h2 class="header_font ms-2">
            <strong>Statistics</strong>
        </h2>
        <div class="row justify-content-center">
            <!-- tested with dummy finance.db-->
            <div class="col-md-4 mt-2 mb-2 mx-2" style="background-color: #ddd0c2; border-radius: 10px; padding: 1rem;">
                <h3 class="header_font">Total Spent</h3> <!-- need backend or js -->
                <img src="{{ url_for('main.plot_png') }}" class="img-fluid mt-4" alt="Spending Chart">
            </div>
            <!-- income, no db need further discussion-->
            <!-- <div class="col-md-4 mt-2 mb-2 mx-2" style="background-color: #ddd0c2; border-radius: 10px; padding: 1rem;">
                <h3 class="header_font">Total Income</h3>
                <canvas id="incomeChart"></canvas>
            </div> -->
        </div>
    </div>

    <!-- Chart.js via CDN -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- Custom JavaScript for fetching and drawing charts -->
    <script src="{{ url_for('static', filename='js/visualise.js') }}"></script>
{% endblock %}